@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');




.contactSection{
    margin: 0;
    background-color: rgb(245, 245, 245);
    height: max-content;
}

.contactContent{
    margin-bottom: 5em;
}

.pictureHeader{
    background-image: url('/contactHeadPic.jpg');
    background-position: center;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureHeaderText{
    font-size: 5em;
    font-family: 'Lato', sans-serif;
}

.contactHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactHeaderText{
    font-size: 2.3em;
    font-family: 'Lato', sans-serif;
}

.formWrapper {
    display: flex;
    justify-content: center;
}

.formContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelStyle{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.inputStyle{
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    border: solid 1px black;
    outline: none;
    margin-top: 0.5em;
}

.textAreaStyle{
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    border: solid 1px black;
    outline: none;
    width: 100%;
    resize: none;
}

.submitBtn{
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background-color: transparent;
    padding: 0.5em 0.7em 0.5em 0.7em;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 2em;
}

.submitBtn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.backHomeDiv {
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    align-items: center;
}

.linkStyle3 {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.backHomeText{
    color: black;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin-left: 0.5em;
}

.arrowLeftSvg{
    width: 1em;
    height: 1em;
    fill: black;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .pictureHeader {
        width: 100vw;
        background-repeat: no-repeat;
    }
    .pictureHeaderText {
        font-size: 3em;
        text-align: center;
    }

    /* Additional styles for smaller screens */
    .contactHeaderText {
        font-size: 1.8em;
    }

    .pictureHeaderText{
        text-align: center;
    }

    .labelStyle {
        font-size: 1.5em;
        margin-bottom: 1.5em;
    }

    .inputStyle,
    .textAreaStyle {
        font-size: 0.9em;
    }

    .submitBtn {
        font-size: 1.1em;
        margin-bottom: 1.5em;
    }

    .backHomeText {
        font-size: 0.8em;
    }
}

/* Media queries for landscape orientation */
@media screen and (orientation: landscape) {
    .pictureHeaderText {
        font-size: 4em;
        text-align: center
    }

    .contactHeaderText {
        font-size: 2em;
    }

    .labelStyle {
        font-size: 1.8em;
        margin-bottom: 1.5em;
    }

    .inputStyle,
    .textAreaStyle {
        font-size: 0.9em;
    }

    .submitBtn {
        font-size: 1.1em;
        margin-bottom: 1.5em;
    }

    .backHomeText {
        font-size: 0.9em;
    }
}

/* Media queries for iPad screens */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .pictureHeaderText {
        font-size: 4.5em;
        text-align: center
    }

    .contactHeaderText {
        font-size: 2.2em;
    }

    .labelStyle {
        font-size: 2em;
        margin-bottom: 2em;
    }

    .inputStyle,
    .textAreaStyle {
        font-size: 1em;
    }

    .submitBtn {
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    .backHomeText {
        font-size: 1em;
    }
}

/* Media queries for Nest Hub screens */
@media screen and (min-device-width: 480px) and (max-device-width: 1280px) and (-webkit-device-pixel-ratio: 2) {
    .pictureHeaderText {
        font-size: 4.5em;
        text-align: center
    }

    .contactHeaderText {
        font-size: 2.2em;
    }

    .labelStyle {
        font-size: 2em;
        margin-bottom: 2em;
    }

    .inputStyle,
    .textAreaStyle {
        font-size: 1em;
    }

    .submitBtn {
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    .backHomeText {
        font-size: 1em;
    }
}
