@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

.designSectionContainer {
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
  }

  
  .designSectionContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .leftSideDiv {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .textTitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
  }
  
  .textLeftHeader {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .textLeftDesc {
   font-size: 5em;
   font-family: 'Lato', sans-serif;
  }
  
  .linkStyle {
    align-self: flex-start;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background-color: transparent;
    padding: 0.5em 0.7em 0.5em 0.7em;
    border-radius: 50px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }

  .linkStyle:hover{
    background-color: black;
    color: white;
  }

  .bottomLeftDiv{
    margin-bottom: 5em;
  }

  .bottomLeftText{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
  }
  
  .rightSideDiv {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .imgStyleHolder {
    width: 90%;
    height: 90%;
  }


/* Extra small devices (phones) */
@media only screen and (max-width: 575px) {
    .designSectionContainer{
        height: max-content;
    }
    .designSectionContent{
        flex-direction: column-reverse;
        height: max-content;
        overflow: auto;
    }

    .leftSideDiv{
        width: 100%;
    }

    .textLeftHeader{
        font-size: 1em;
    }

    .textLeftDesc{
        font-size: 1em;
    }

    .bottomLeftDiv{
        margin-top: 2em;
    }

    .bottomLeftText{
        font-size: 1em;
    }

}

/* Small devices (phones) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .designSectionContent{
        flex-direction: column-reverse;
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .designSectionContent{
        .designSectionContainer{
            height: max-content;
        }
        .designSectionContent{
            flex-direction: column-reverse;
            height: max-content;
            overflow: auto;
        }
    
        .leftSideDiv{
            width: 100%;
        }
    
        .textLeftHeader{
            font-size: 1em;
        }
    
        .textLeftDesc{
            font-size: 1em;
        }
    
        .bottomLeftDiv{
            margin-top: 2em;
        }
    
        .bottomLeftText{
            font-size: 1em;
        }
    }
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Your styles for large devices go here */
}

/* Extra large devices (large desktops) */
@media only screen and (min-width: 1200px) {
    /* Your styles for extra large devices go here */
}

/* iPhone 5/SE */
@media only screen and (min-width: 320px) and (max-width: 568px) {
    .designSectionContainer{
        height: max-content;
    }
    .designSectionContent{
        flex-direction: column-reverse;
        height: max-content;
        overflow: auto;
    }

    .leftSideDiv{
        width: 100%;
    }

    .textLeftHeader{
        font-size: 1em;
    }

    .textLeftDesc{
        font-size: 1em;
    }

    .bottomLeftDiv{
        margin-top: 2em;
    }

    .bottomLeftText{
        font-size: 1em;
    }
}

/* iPhone 6/7/8 */
@media only screen and (min-width: 375px) and (max-width: 667px) {
    .designSectionContainer{
        height: max-content;
    }
    .designSectionContent{
        flex-direction: column-reverse;
        height: max-content;
        overflow: auto;
    }

    .leftSideDiv{
        width: 100%;
    }

    .textLeftHeader{
        font-size: 1em;
    }

    .textLeftDesc{
        font-size: 1em;
    }

    .bottomLeftDiv{
        margin-top: 2em;
    }

    .bottomLeftText{
        font-size: 1em;
    }
}

/* iPhone 6/7/8 Plus */
@media only screen and (min-width: 414px) and (max-width: 736px) {
    .designSectionContainer{
        height: max-content;
    }
    .designSectionContent{
        flex-direction: column-reverse;
        height: max-content;
        overflow: auto;
    }

    .leftSideDiv{
        width: 100%;
    }

    .textLeftHeader{
        font-size: 1em;
    }

    .textLeftDesc{
        font-size: 1em;
    }

    .bottomLeftDiv{
        margin-top: 2em;
    }

    .bottomLeftText{
        font-size: 1em;
    }
}

/* iPhone X */
@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: portrait) {
    .designSectionContainer{
        height: max-content;
    }
    .designSectionContent{
        flex-direction: column-reverse;
        height: max-content;
        overflow: auto;
    }

    .leftSideDiv{
        width: 100%;
    }

    .textLeftHeader{
        font-size: 1em;
    }

    .textLeftDesc{
        font-size: 1em;
    }

    .bottomLeftDiv{
        margin-top: 2em;
    }

    .bottomLeftText{
        font-size: 1em;
    }
}

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .designSectionContainer{
        height: max-content;
    }
    .designSectionContent{
        flex-direction: column-reverse;
        height: max-content;
        overflow: auto;
    }

    .leftSideDiv{
        width: 100%;
    }

    .textLeftHeader{
        font-size: 1em;
    }

    .textLeftDesc{
        font-size: 1em;
    }

    .bottomLeftDiv{
        margin-top: 2em;
    }

    .bottomLeftText{
        font-size: 1em;
    }
}

/* iPad Pro */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .designSectionContainer{
        height:max-content;
    }
    .designSectionContent{
        flex-direction: column-reverse;
        height: max-content;
        overflow: auto;
    }

    .leftSideDiv{
        width: 100%;
    }

    .textLeftHeader{
        font-size: 1em;
    }

    .textLeftDesc{
        font-size: 1em;
    }

    .bottomLeftDiv{
        margin-top: 2em;
    }

    .bottomLeftText{
        font-size: 1em;
    }
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: landscape){
    .designSectionContainer{
       position: relative;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .designSectionContainer{
        position: relative;
     }
}